.HomeItem {
    cursor: pointer;
    display: flex;
    width: 40%;
    margin-right: 20px;
    padding: 15px;
    align-items: center;
    position: relative;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    margin-bottom: 20px;
}
.HomeItem a {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.HomeItem img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 20px;
    object-fit: contain;
    padding: 3px;
    border: 1px solid lightgrey;
}
.HomeItem p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
}
