.ModalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.Modal {
    position: absolute;
    padding: 20px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ModalClose {
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 5px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}
.ModalInfo {
    display: flex;
}
.ModalInfo img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    border: 1px solid lightgrey;
    padding: 5px;
    object-fit: contain;
    margin-right: 20px;
}
.ModalText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ModalText h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}
.ModalText span {
    margin-bottom: 15px;
}
.ModalButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.ModalButtons button,
.ModalButtons a {
    display: inline-block;
    width: 45%;
    height: 40px;
    line-height: 40px;
    border: none;
    background: #000000;
    color: #ffffff;
    font-weight: 700;
}
.ModalButtons button:hover,
.ModalButtons a:hover {
    opacity: 0.75;
}
