.Header {
    display: flex;
    padding: 10px 40px;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}
.Header h2 {
    margin: 0;
}
.Header a {
    color: white;
    background: #000;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.Header a:hover {
    opacity: 0.75;
}
