.Form h3 {
    font-size: 18px;
    text-transform: uppercase;
}
form {
    display: flex;
    flex-direction: column;
}
.FormItem {
    display: flex;
    width: 60%;
    margin-bottom: 20px;
}
label {
    width: 35%;
    text-align: left;
    min-width: 35%;
}
input {
    width: 65%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.FormItem img {
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    padding: 5px;
    margin: 0;
}
.Buttons {
    display: flex;
}
.Buttons button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #000000;
    color: white;
    border: none;
    margin-right: 20px;
}
.Buttons button:hover {
    opacity: 0.75;
}
